@import url("https://fonts.googleapis.com/css?family=Gruppo");
html {
  font-family: "Gruppo";
  background-image: url("../assets/blue.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  margin: 0;
}
body h1 {
  text-align: center;
}

.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.center-item form {
  width: 40%;
  box-shadow: 1px 0 10px 15px rgba(0, 0, 0, 0.3);
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
}
.center-item form a {
  color: #369;
}
.center-item form .note {
  width: 500px;
  margin: 50px auto;
  font-size: 1.1em;
  color: #333;
}
.center-item form #drop-area {
  border: 2px dashed rgb(255, 0, 0);
  border-radius: 20px;
  max-height: 400px;
  width: 480px;
  margin: 5px auto;
  padding: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
}
.center-item form #drop-area.highlight {
  border-color: purple;
}
.center-item form p {
  margin-top: 0;
}
.center-item form .my-form {
  margin-bottom: 10px;
}
.center-item form #gallery {
  margin-top: 10px;
  margin: auto;
}
.center-item form #gallery img {
  margin: auto;
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.center-item form .button {
  align-self: center;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.center-item form .button:hover {
  background: #ddd;
}
.center-item form #fileElem {
  margin: auto;
}
.center-item form input[type=number] {
  float: right;
  width: 15%;
  margin-top: 20px;
  padding: 10px;
  line-height: 2;
  font-size: 16px;
  outline: none;
  border-radius: 8px;
  background-color: #f1ecec;
}
.center-item form input[type=text] {
  width: 80%;
  box-sizing: border-box;
  margin-top: 20px;
  outline: none;
  border-radius: 8px;
  background-color: #f1ecec;
  padding: 10px;
  line-height: 2;
  font-size: 16px;
}
.center-item form input:nth-child(3) {
  height: 100px;
}
.center-item form .note {
  width: 500px;
  margin: 50px auto;
  font-size: 1.1em;
  color: #333;
  text-align: justify;
}
.center-item form #drop-area {
  font-family: sans-serif;
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  margin: 50px auto;
  padding: 20px;
}
.center-item form #drop-area.highlight {
  border-color: purple;
}
.center-item form p {
  margin-top: 0;
}
.center-item form .my-form {
  margin-bottom: 10px;
}
.center-item form #gallery {
  margin-top: 10px;
}
.center-item form #gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.center-item form .button {
  margin-top: 5px;
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.center-item form #progress-bar {
  margin-top: 5px;
  align-self: center;
}
.center-item form .button:hover {
  background: #ddd;
}
.center-item form #fileElem {
  display: none;
}
.center-item form h1 {
  font-family: Gruppo;
}
.center-item form #k {
  background-color: red;
}
.center-item form button {
  background-color: #4834d4;
  color: #fff;
  font-size: 18px;
  width: 100%;
  outline: none;
  border: none;
  padding: 15px;
  margin-top: 20px;
  cursor: pointer;
}
.center-item form button:hover {
  background-color: #686de0;
}
.center-item form p {
  text-align: center;
  margin-bottom: 0px;
}
.center-item form p a {
  text-align: center;
  text-decoration: none;
  color: #3B3B98;
  padding-left: 3px;
}
.center-item form p a:hover {
  text-decoration: none;
}

@media (max-width: 692px) {
  .center-item form {
    width: 60%;
  }
}
@media (max-width: 452px) {
  .center-item form {
    width: 70%;
    padding: 25px;
  }
  .center-item form p {
    font-size: 14px;
  }
}/*# sourceMappingURL=dodawanie.css.map */