@import "button.css";
@import url('https://fonts.googleapis.com/css?family=Gruppo');
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
html{
    font-family: 'Gruppo';
    background-image: url('../assets/blue.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


#iop{
    width: 20%;
    border: 5px solid rgba(22, 76, 167);
    border-radius: 20px;
    height: 300px;
    margin-right: 130px;
    display: grid;
    justify-content: center;
    align-items: center;
    hr{
        width: 100%;
    }
    img{
        width: 20px;
        height: 30px;

    }
    span{
        margin: 10px;
    }
    button{
        margin: 10px;
        
    }
    div{
        h3{
            margin-bottom: 0;
            margin-top: 0;
        }
        // border: 5px solid black;
        padding: 0;
        max-width: 700px;
    }
    h3{
        text-align: center;
    }
}
#strg{
    display: flex;
    // border: 5px solid black;
    justify-content: space-between;
    margin-top: 25px;

}



#produkt{
    margin-left: 10em;
    border-radius: 25px;
    border: 2px solid black;
    min-height: 1000px;
    width: 920px;
    word-wrap: break-word;
    
    h1{
        font-size: 90px;
        color: #3498db;
        text-align: center;
        
    }
    img{
        border-radius: 25px;
        border: 2px solid black;
        width: 920px;
        height: 600px;
    }
    div{
        // border: 5px solid black;
        width: 920px;
        height: 600px;

    }
    p{
        font-size: 40px;
        margin-left: 40px;
    }
}

#siemano{
    margin-left: 20px;
    h3{
        font-family: 'Gruppo';
        font-size: 40px;
    }
    p{
        font-family: 'Gruppo';
        font-size: 40px;
    }
}

#gallery{
    // border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  #zbiorka{
    border: 5px solid gold;
    width: 250px;
    margin: 15px;
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        width: 50%;
    }
    p{
        color: red;
        text-align: center;
    }
  }
#top{
    // border: 2px solid black;
    height: 10%;
    display: flex;
    justify-content: space-between;
    font-family: 'Gruppo';
}
#leftop{
    // border: 2px solid black;
    width: 33%;
    margin-left: 50px;
    margin-top: auto;
    margin-bottom: auto;
    h1{
        color: rgb(144, 7, 144);
        font-family: 'Gruppo';
        font-size: 82px;
        text-decoration: none;
    }
}

#navbar{
    width: 30%;
    border: 5px;
    border-color: red;
    border-style: solid;
    margin-bottom: 8px;
    margin-left: 700px;
    height: 30%;
}
#navbarContent{
    color: red;
    display: inline-block;
    margin-left: 40px;
    font-size: 20px;

}


#text{
    width: 60%;
    font-family: 'Gruppo';
    margin-left: 20px;
    // border:5px;
    // border-color: red;
    // border-style: solid;
    p,h3,br{
        font-size: 40px;
    }
    h2{
        font-size: 40px
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
#footer_content{
    margin-left: 30px;
    display: inline-block;
    text-align: center;
}

// #Sponsorowane_filmy{
//     border:5px;
//     border-color: red;
//     border-style: solid;
//     width: 30%;
//     margin-right: 15%;
// }

// NAVBAR
ul {
    margin-top: 0px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: start;
    list-style-type: none;
  
    li {
      padding: 6px 0;
  
      a {
        position: relative;
        display: block;
        margin: 25px;
        padding: 4px 0;
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
        font-size: 25px;
  
        &::after {
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          width: 100%;
          height: 3px;
          background: #3498db;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.5s;
        }
  
        &:hover {
          color: #ff0000;
        }
  
        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }
  hr.eo {
    border: 1px solid red;
  }












