
.skills-mesure {
  font-size: 2em;
  border: 1px solid silver;
  border-radius: .8em;
  background: #eee;
  max-width: 600px;
  
  > div {
    padding: .1em .5em;
    border-radius: 1.2em;
    text-align: right;
    background-color: #74c25c; 
    background-size: 100%;
    color: black;
    box-sizing: border-box;
    
    @for $i from 0 through 100 {
        &[data-pourcent="#{$i}"]{
        width: $i * 1%;
    }
      }
    }
  } 
