html{
    background-color: aquamarine;
}
h1{
    color: green;
}
#gallery{
    // border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
  }
  #zbiorka{
    border: 5px solid red;
    width: 250px;
    margin: 15px;
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        width: 50%;
    }
    p{
        color: red;
        text-align: center;
    }
  }
#top{
    // border: 2px solid black;
    height: 23%;
    display: flex;
}
#leftop{
    // border: 2px solid black;
    width: 30%;
}

#navbar{
    width: 30%;
    border: 5px;
    border-color: red;
    border-style: solid;
    margin-bottom: 8px;
    margin-left: 700px;
    height: 30%;
}
#navbarContent{
    color: red;
    display: inline-block;
    margin-left: 40px;
    font-size: 20px;

}


#text{
    float:left;
    width: 60%;
    border:5px;
    border-color: red;
    border-style: solid;
}
#lorem{
    font-size: 30px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
#footer_content{
    margin-left: 30px;
    display: inline-block;
    text-align: center;
}

#Sponsorowane_filmy{
    border:5px;
    border-color: red;
    border-style: solid;
    width: 30%;
    margin-right: 15%;
    margin-left: 65%;
}














